{% extends 'admin_base.html' %}
{% block content %}

    <div class="row" style="margin-top: 30px">
        <table class="table">
              <thead>
                <tr>
                  <th scope="col">Type</th>
                  <th scope="col">Room</th>
                  <th scope="col">Status</th>
                    <th scope="col"> </th>
                </tr>
              </thead>
              <tbody>
              {% for room in rooms %}
                <tr>
                  <th scope="row">{{ room.category.name }}</th>
                  <td>{{ room.name }}</td>

                    {% if room.status=="No reservation" %}
                    <td bgcolor="#A6FFA6"></td>
                    {% else %}
                    <td bgcolor="#FFB5B5"></td>
                     {% endif %}

                </tr>
              {% endfor %}
              <tr scope="row"> </tr>
              </tbody>
            </table>
    </div>

{% endblock %}