{% extends 'boss_base.html' %}
{% block content %}

    <div class="row" style="margin-top: 30px">
        <table class="table">
              <thead>
                <tr>
                  <th scope="col">Room types</th>
                  <th scope="col">Rooms number</th>
                  <th scope="col">Stuate</th>
                </tr>
              </thead>
              <tbody>
              {% for room in rooms %}
                <tr>
                  <th scope="row">{{ room.category.name }}</th>
                  <td>{{ room.name }}</td>
                  <td>{{ room.status }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
    </div>

{% endblock %}