{% extends 'base.html' %}
{% block css %}
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}
{% block content %}

<main role="main" class="container" style="margin-top: 30px">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Unsubscribe room
        </h3>

        <div class="blog-post">
          <h2 class="blog-post-title">Unbooking information</h2>
          <p class="blog-post-meta">Name：{{ order.username }}</p>
          <p class="blog-post-meta">Telephone：{{ order.mobile }}</p>
          <p class="blog-post-meta">Time：{{ order.begin }}--{{ order.end }}</a></p>
          <p class="blog-post-meta">Room：{{ order.category_name }}</p>
            {% if order.status == "4" %}
                <p class="blog-post-meta text-danger">Note your time within two days to unsubscribe, do not refund the deposit ！！！！！</p>
            {% endif %}

          <hr>

          <form method="post" action="/delete_order">
                      <div class="form-group">
                        <label for="ding">refund amount</label>
                        <input type="hidden" class="form-control" name="oid" value="{{ order.id }}">
                        {% if order.status == "4" %}
                            <input type="text" class="form-control" id="ding1" value="{{ruzhu}}" disabled>
                        {% else %}
                            <input type="text" class="form-control" id="ding" value="{{ ding }}RMB" disabled>
                        {% endif %}
                      </div>
                      <button type="submit" class="btn btn-primary">submit</button>
                    </form>

        </div><!-- /.blog-post -->

      </div>
    </div>
</main>
<script src="/static/laydate/laydate.js"></script>
            <script>
                function getDate1(){
                    var day3 = new Date();
                    day3.setTime(day3.getTime()+24*60*60*1000);
                    return new Date().getFullYear() + "-" + new Date().getMonth()+1 + "-" + day3.getDate()
                }

            laydate.render({
              elem: '#weak'
                ,value: getDate1()
            });

</script>
{% endblock %}