{% extends 'base.html' %}
{% block css %}
    <link href="/static/css/offcanvas.css" rel="stylesheet">
{% endblock %}
{% block content %}

        <main role="main" class="container">
              <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
                <img class="mr-3" src="/static/img/login.png" alt="" width="48" height="48">
                <div class="lh-100">
                  <h6 class="mb-0 text-white lh-100">Confirm the deposit</h6>
                  <small>check</small>
                </div>
              </div>
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Please fill in the information carefully</h6>
                <div class="media text-muted pt-3">
                  <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2001/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@Please fill in the information.</strong>
                </div>
                <div class="media text-muted pt-3">
                  <form method="post" action="add_order">
                      <div class="form-group">
                        <label for="roomStyle"> Name</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="roomStyle" disabled value="{{ user }}">
                      </div>
                      <div class="form-group">
                        <label for="tele">Telephone</label>
                        <input type="text" class="form-control" id="tele" name="mobile" aria-describedby="tele" disabled value="{{ userinfo.mobile }}">
                      </div>
                      <div class="form-group">
                        <label for="roomStyle"> Room type</label>
                        <input type="text" class="form-control" id="roomStyle" aria-describedby="roomStyle" disabled value="{{ category.name }}" name="category_name">
                      </div>
                      <div class="form-group">
                        <label>The check-in time</label>
                          <div class="row">
                            <div class="col">
                              <input type="text" class="form-control" value="{{begin}}" disabled>
                            </div>
                              -
                            <div class="col">
                              <input type="text" class="form-control" value="{{end}}" disabled>
                            </div>
                              <div class="col">
                              <input type="text" class="form-control" name="end" id="days" value="{{count_days}}" disabled>
                            </div>
                          </div>
                        <small id="emailHelp" class="form-text text-muted">Check-in time is 12:00 on the day of departure and departure time is 12:00 on the day of departure.</small>
                      </div>
                      {% if need_weak=="on" %}
                        <div class="form-group">
                            <label >Wake-up call</label>
                            <input type="text" class="form-control"  name="weak" value="{{ weak }}" disabled>
                          </div>
                          <div class="form-group form-check">
                            <label class="form-check-label" for="exampleCheck1">Need a wake-up call</label>
                          </div>
                      {% else %}
                            <div class="form-group">
                            <label >Wake-up call</label>
                            <input type="text" class="form-control" value="{{ weak }}" disabled>
                          </div>
                          <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1" name="need_weak" disabled>
                            <label class="form-check-label" for="exampleCheck1">No wake-up call required</label>
                          </div>
                      {% endif %}
                      <hr>
                      <div class="form-group">
                        <label for="price" style="color: red">down payment</label>
                        <input type="text" class="form-control" id="price" name="price" aria-describedby="price" disabled value="{{ ding }}RMB">
                      </div>

                      <a class="btn btn-primary" href="/order?id={{ orderid }}&status=1">submit</a>
                      <a class="btn btn-primary" href="/">cancel</a>
                    </form>
                </div>
              </div>
            </main>
            <script src="/static/laydate/laydate.js"></script>
            <script>
                function getDate(){
                    return new Date().getFullYear() + "-" + new Date().getMonth()+1 + "-" + new Date().getDate()
                }
                function getDate1(){
                    var day3 = new Date();
                    day3.setTime(day3.getTime()+24*60*60*1000);
                    return new Date().getFullYear() + "-" + new Date().getMonth()+1 + "-" + day3.getDate()
                }

                function getTime(){
                    return new Date().getFullYear() + "-" + new Date().getMonth()+1 + "-" + new Date().getDate() + " " + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds()
                }
            // laydate real case
            laydate.render({
              elem: '#begin'
                ,value: getDate()
            });
            laydate.render({
              elem: '#end'
                ,value: getDate1()
            });
            laydate.render({
              elem: '#weak'
                ,type: 'datetime'
            });
            </script>

{% endblock %}