{% extends 'admin_base.html' %}
{% block content %}

    <div class="row" style="margin-top: 30px">
        <table class="table">
              <thead>
                <tr>
                  <th scope="col">User name</th>
                  <th scope="col">Type</th>
                  <th scope="col">Room</th>
                  <th scope="col">Before that time</th>
                  <!--<th scope="col"></th>-->
                </tr>
              </thead>
              <tbody>
              {% for order in orders %}
                {% if order.show == "1" %}
                    <tr>
                      <th scope="row">{{ order.username }}</th>
                      <td>{{ order.category_name }}</td>
                      <td>{{ order.room.name }}</td>
                      <td>{{ order.weak_time }}</td>
                    </tr>
                {% endif %}

              {% endfor %}
              </tbody>
            </table>
    </div>

{% endblock %}