{% extends 'admin_base.html' %}
{% block content %}
    <div class="row" style="margin: 80px">
      <p class="text text-danger">Order information：{{ order.category_name }}-->{{ order.price }}RMB-->{{ order.end }}Leave the hotel->You can rebook after you leave the hotel</p></div>
    <div class="row" style="margin: 80px">

        <form action="/need_back_admin" method="post">
          <input type="hidden" class="form-control" value="{{ order.id }}" name="order_id">
          {% for key in order_ex %}
            <!--{{ key }}'s value is {{ order_ex[key]}}-->
            <div class="form-group row">
                <label for="{{ key }}" class="col-sm-4 col-form-label">{{ order_ex[key].zh }}({{ order_ex[key].price }}RMB/One)</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="{{ key }}" value="0" name="{{ key }}">
                </div>
            </div>
          {% endfor %}


          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Confirm the check-out</button>
            </div>
          </div>


        </form>
    </div>

{% endblock %}