{% extends 'admin_base.html' %}
{% block content %}
    <div class="row" style="margin: 80px">
      <p class="text text-danger">Order information：{{ order.category_name }}-->{{ order.price }}RMB-->{{ order.end }}Leave the hotel->You can rebook after you leave the hotel</p></div>
    <div class="row" style="margin: 80px">

        <form action="/need_back_admin" method="post">
          <input type="hidden" class="form-control" value="{{ order.id }}" name="order_id">
          {% for key in order_ex %}
            <!--{{ key }}'s value is {{ order_ex[key]}}-->
            <div class="form-group row">
                <label for="{{ key }}" class="col-sm-4 col-form-label">{{ order_ex[key].zh }}({{ order_ex[key].price }}RMB/One)</label>
                <div class="col-sm-8">
                  <input type="number" class="form-control" id="{{ key }}" value="0" name="{{ key }}">
                </div>
            </div>
          {% endfor %}


          <!--<div class="form-group row">-->
            <!--<label for="yashua" class="col-sm-4 col-form-label">牙刷(12元/个)</label>-->
            <!--<div class="col-sm-8">-->
              <!--<input type="hidden" class="form-control" id="order_id" value="{{ order.id }}" name="order_id">-->
              <!--<input type="number" class="form-control" id="yashua" value="0" name="yashua">-->
            <!--</div>-->
          <!--</div>-->
            <!--<div class="form-group row">-->
            <!--<label for="kuangquanshui" class="col-sm-4 col-form-label">矿泉水(2元/个)</label>-->
            <!--<div class="col-sm-8">-->
              <!--<input type="number" class="form-control" id="kuangquanshui" value="0" name="kuangquanshui">-->
            <!--</div>-->
          <!--</div>-->

            <!--<div class="form-group row">-->
            <!--<label for="paomian" class="col-sm-4 col-form-label">泡面(5元/个)</label>-->
            <!--<div class="col-sm-8">-->
              <!--<input type="number" class="form-control" id="paomian" value="0" name="paomian">-->
            <!--</div>-->
          <!--</div>-->

            <!--<div class="form-group row">-->
            <!--<label for="riyongpin" class="col-sm-4 col-form-label">日用品(20元/个)</label>-->
            <!--<div class="col-sm-8">-->
              <!--<input type="number" class="form-control" id="riyongpin" value="0" name="riyongpin">-->
            <!--</div>-->
          <!--</div>-->
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Confirm the check-out</button>
            </div>
          </div>


        </form>
    </div>

{% endblock %}