{% extends 'base.html' %}
{% block css %}
    <link href="/static/css/blog.css" rel="stylesheet">
{% endblock %}
{% block content %}

<main role="main" class="container" style="margin-top: 30px">
    <div class="row">
      <div class="col-md-8 blog-main">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
          Room to pay
        </h3>

        <div class="blog-post">
          <h2 class="blog-post-title">The room information</h2>
          <p class="blog-post-meta">Name：{{ order.username }}</p>
          <p class="blog-post-meta">Telephone：{{ order.mobile }}</p>
          <p class="blog-post-meta">Time：{{ order.begin }}--{{ order.end }}</a></p>
          <p class="blog-post-meta">Room：{{ order.category_name }}</p>
          <hr>

          <h2 class="blog-post-title">Pay</h2>
          <p class="blog-post-meta">Guest room charges：{{ order.price }}</p>
          <p class="blog-post-meta">Room use charges：{{ extra }}</p>
          <p class="blog-post-meta">The deposit paid：{{ ding }}</p>
          <p class="blog-post-meta">The amount to be paid：{{ last_money }}</a></p>
          <hr>
            <div>
                <a class="btn btn-info" href="/pay_confirm?rid={{ order.id }}" >支付</a>
            </div>

        </div><!-- /.blog-post -->

      </div>
    </div>
</main>
<script src="/static/laydate/laydate.js"></script>
            <script>
                function getDate1(){
                    var day3 = new Date();
                    day3.setTime(day3.getTime()+24*60*60*1000);
                    return new Date().getFullYear() + "-" + new Date().getMonth()+1 + "-" + day3.getDate()
                }

            laydate.render({
              elem: '#weak' //
                ,value: getDate1()
            });

</script>
{% endblock %}