{% extends 'base.html' %}
{% block css %}
    <link href="/static/css/offcanvas.css" rel="stylesheet">
{% endblock %}
{% block content %}

        <main role="main" class="container">
              <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
                <img class="mr-3" src="/static/img/login.png" alt="" width="48" height="48">
                <div class="lh-100">
                  <h6 class="mb-0 text-white lh-100">Make sure the order</h6>
                  <small>in</small>
                </div>
              </div>
              <div class="my-3 p-3 bg-white rounded shadow-sm">
                <h6 class="border-bottom border-gray pb-2 mb-0">Please fill in the information</h6>
                <div class="media text-muted pt-3">
                  <svg class="bd-placeholder-img mr-2 rounded" width="32" height="32" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 32x32"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"/><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg>
                  <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="d-block text-gray-dark">@Occupant information</strong>
                </div>
                <div class="media text-muted pt-3">
                  <form method="post" action="add_order">
                      <div class="form-group">
                        <label for="roomStyle"> The name</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="roomStyle" value="{{ user }}">
                      </div>
                      <div class="form-group">
                        <label for="tele">The phone</label>
                        <input type="hidden" name="room_id" value="{{ room.id }}">
                        <input type="hidden" name="user_id" value="{{ userinfo.id }}">
                        <input type="hidden" name="category_id" value="{{ category.id }}">
                        <input type="text" class="form-control" id="tele" name="mobile" aria-describedby="tele" value="{{ userinfo.mobile }}">
                      </div>
                      <div class="form-group">
                        <label for="roomStyle"> The room type</label>
                        <input type="text" class="form-control" id="roomStyle" aria-describedby="roomStyle" value="{{ category.name }}" name="category_name">
                      </div>
                      <div class="form-group">
                        <label for="begin">The check-in time</label>
                          <div class="row">
                            <div class="col">
                              <input type="text" class="form-control" name="begin" id="begin">
                            </div>
                              -
                            <div class="col">
                              <input type="text" class="form-control" name="end" id="end">
                            </div>
                          </div>
                        <small id="emailHelp" class="form-text text-muted">Check-in time is 12:00 on the day and departure time is 12:00 on the day of departure</small>
                      </div>
                      <div class="form-group">
                        <label for="weak">Wake-up time</label>
                        <input type="text" class="form-control" id="weak" name="weak" readonly>
                      </div>
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="need_weak">
                        <label class="form-check-label" for="exampleCheck1">Would you like a wake-up call</label>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
              </div>
            </main>
            <script src="/static/laydate/laydate.js"></script>
            <script>
                function getDate(){
                    var $today = new Date();
                    var m = ($today.getMonth() + 1) < 10 ? ('0' + ($today.getMonth() + 1)) : ($today.getMonth() + 1);

                    var day3 = new Date();
                    day3.setTime(day3.getTime()+24*60*60*1000);

                    return new Date().getFullYear() + "-" + m + "-" + day3.getDate()
                }
                function getDate1(){
                    var $today = new Date();
                    var m = ($today.getMonth() + 1) < 10 ? ('0' + ($today.getMonth() + 1)) : ($today.getMonth() + 1);

                    var day3 = new Date();
                    day3.setTime(day3.getTime()+24*60*60*1000*2);

                    return new Date().getFullYear() + "-" + m + "-" + day3.getDate()
                }

                function getTime(){
                    return new Date().getFullYear() + "-" + new Date().getMonth()+1 + "-" + new Date().getDate() + " " + new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds()
                }
            laydate.render({
              elem: '#begin'
                 ,lang:'en'
                ,value: getDate()
            });
            laydate.render({
              elem: '#end'
                 ,lang:'en'
                ,value: getDate1()
            });
            laydate.render({
              elem: '#weak'
                ,lang:'en'
                ,type: 'datetime'
            });
            </script>
            {% if msg %}
                <script>
                    layers.msg("{{ msg }}");
                </script>
            {% endif%}

{% endblock %}