INSERT INTO `room` VALUES (59, 'North', 0, 0, '0401', 4, 'North villa & No window');
INSERT INTO `room` VALUES (60, 'North', 1, 0, '0404', 4, 'North villa & Have window');
INSERT INTO `room` VALUES (61, 'North', 0, 0, '0403', 4, 'North villa & No window');
INSERT INTO `room` VALUES (62, 'North', 1, 0, '0402', 4, 'North villa & Have window');


INSERT INTO `room` VALUES (63, 'South', 1, 0, '0406', 4, 'South villa & Have window');
INSERT INTO `room` VALUES (64, 'South', 0, 0, '0407', 4, 'South villa & No window');
INSERT INTO `room` VALUES (65, 'South', 1, 0, '0408', 4, 'South villa & Have window');
INSERT INTO `room` VALUES (73, 'South', 0, 0, '0405', 4, 'South villa & No window');


INSERT INTO `room` VALUES (66, 'East', 0, 0, '0409', 4, 'East villa & No window');
INSERT INTO `room` VALUES (67, 'East', 1, 0, '0410', 4, 'East villa & Have window');
INSERT INTO `room` VALUES (68, 'East', 0, 0, '0411', 4, 'East villa & No window');
INSERT INTO `room` VALUES (69, 'East', 1, 0, '0412', 4, 'East villa & Have window');


INSERT INTO `room` VALUES (70, 'West', 1, 0, '0413', 4, 'West villa & Have window');
INSERT INTO `room` VALUES (71, 'West', 0, 0, '0414', 4, 'West villa & No window');
INSERT INTO `room` VALUES (72, 'West', 1, 0, '0415', 4, 'West villa & Have window');


INSERT INTO `room` VALUES (74, 'North', 1, 0, '0501', 5, 'North villa & Have window');
INSERT INTO `room` VALUES (75, 'North', 1, 0, '0502', 5, 'North villa & Have window');
INSERT INTO `room` VALUES (78, 'South', 1, 0, '0503', 5, 'South villa & Have window');
INSERT INTO `room` VALUES (76, 'East', 1, 0, '0504', 5, 'East villa & Have window');
INSERT INTO `room` VALUES (77, 'West', 1, 0, '0505', 5, 'West villa & Have window');






